body,div,ul,li,h1,h2,h3,img,a{
	font-family:'pinghei';
	font-size:16px;
	padding:0;
	margin:0;
	border:0;
	list-style:none;
	color:#666;
	font-weight:300;
}
a,span{
	display:block;
	text-decoration:none;
}
body{
	overflow:hidden;
}
#header{
	display:block;
	background-color: #333;
	background-image:url(../img/header-bg.png);
	background-size:100% 44px;
	width:100%;
	height:44px;
	overflow:hidden;
}
.header-left{
	width:40px;
	height:44px;
	position:absolute;
}
.header-left span{
	width:20px;
	height:20px;
	margin:12px 0 0 10px;
	background-size:200px 200px;
	background-position:-20px 0;
	background-image:url(../img/sprites.png);
}
.header-center{
	height:44px;
	position:absolute;
	left:40px;
	right:40px;
}
.header-center span{
	width:96%;
	height:30px;
	margin:6px 2%;
	background-color:#fff;
	border:2px solid #dfdfdf;
	border-radius: 5px;
}
.header-right{
	width:40px;
	height:44px;
	position:absolute;
	right:0;
}
.header-right span{
	width:20px;
	height:20px;
	margin:12px 0 0 10px;
	background-size:200px 200px;
	background-position:-60px 0;
	background-image:url(../img/sprites.png);
}
#nav{
	position:absolute;
	top:45px;
	bottom:0;
	width:90px;
	overflow:hidden;
}
#nav ul{
	display:block;
	width:100px;
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}
#nav ul li{
	border-bottom:1px solid #e0e0e0;
	text-align:center;
	line-height:50px;
	width:89px;
	height:49px;
	font-size:12px;
}
#nav .nav-blur{
	color:#252525;
	border-right:1px solid #e0e0e0;
	background-color:#f3f4f6;
}
#nav .nav-current{
	color:red;
	border-right:1px solid #fff;
	background-color:#fff;
}
#pro{
	position:absolute;
	left:90px;
	top:45px;
	right:0;
	bottom:0;
	overflow:hidden;
}
.pro-scroll{
	width:200%;
	height:100%;
	overflow-y:scroll;
}
.pro-warp{
	width:50%;
}
#pro .banner{
	margin:10px 12px;
}
#pro img{
	width:100%;
}
#pro .content{
	overflow:hidden;
}
#pro .content-title{
	margin-top:15px;
	font-size:12px;
	font-weight:700;
	padding-left:10px;
	font-family:'宋体';
}
#pro .content-body{
	margin:0px 12px;
	overflow:hidden;
}
#pro .content-body-list{
	width:33%;
	margin-top:10px;
	float:left;
}
#pro .content-body-list span{
	font-size:14px;
	text-align:center;
	font-family:'宋体';
}